* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto, sans-serif;
}

body {
   background-color: rgba(189, 182, 182, 0.565);
}

header {
   background: rgb(79, 106, 108);
   background: linear-gradient(0deg, rgba(82, 180, 69, 0.999) 0%, rgb(109, 101, 40) 100%);
   padding: 16px 0;
   color: rgb(47, 35, 45);
   display: flex;
   border-bottom: 20px solid rgb(23, 40, 39);
   justify-content: center;
}

header,
h2 {
   font-size: 150%;
   font-weight: bold;
}

header button {
   margin-left: 16px;

}

form {
   background: rgb(97, 88, 85);
   background: linear-gradient(0deg, rgba(97, 88, 85, 1) 0%, rgba(210, 209, 204, 1) 100%);
   padding: 24px 0;
   text-align: center;
   display: none;
}

form h2 {
   margin-bottom: 16px;
}

input,
button {
   padding: 18px;

}

button {
   background-color: rgb(51, 122, 92);
   border: none;
   cursor: pointer;
   font-weight: bold;
   text-transform: uppercase;
   color: aliceblue;
   border-radius: 5%;

}

button:hover {
   cursor: pointer;
   background-color: rgb(139, 200, 176);
   color: #fff;
}

#btn-cancelar {
   background-color: rgb(181, 44, 44);
}


#btn-cancelar:hover {
   cursor: pointer;
   background-color: rgb(227, 125, 125);
   color: #fff;
}

.tConcluido {
   text-decoration: line-through;
}


#nova-tarefa {
   padding: 10px;
   background-color: rgba(139, 167, 141, 0.535);
   color: black;
   text-align: center;
   text-transform: uppercase;
   font-style: italic;
   font-weight: bold;
   cursor: pointer;
}